body {
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Zapfino;
    background-image: url('kitchen-cloth-wood-table.jpg');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centered-text {
    text-align: center;
}

.box {
    background-color: azure;
    padding: 10px;
}